html {
  color : rgb(26, 26, 26);
}
body {
  font-family: "Roboto";
  background: #1c1b1b;
}

.btn {
  background-color: rgba(0, 255, 128, 0.71);
  color: white;
}

.custom-range::-webkit-slider-thumb {
  background: rgb(67, 196, 131);
}

.custom-range::-moz-range-thumb {
  background: rgba(0, 255, 128);
}

.custom-range::-ms-thumb {
  background: rgba(0, 255, 128);
}
layout {
      plot_bgcolor:"black",
      paper_bgcolor:"#FFF3"
};

.nav-item {
  background-color: rgba(0, 255, 128, 0.71);
  color: white;
}


